* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
button {
  z-index: 1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(550%, 330%);
  width: 195px;
  height: 65px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  cursor: pointer;
}
h1 {
  color: #000000;
  text-align: center;
  padding: 20px 0;
  font-family: "Suez One", serif;
  position: relative;
  transform: translateY(135%) translateX(1850%);
  font-height: 300px;
  font-size: 220px;
  text-shadow: 2px 2px 4px rgb(247, 244, 244);
  z-index: 1;
}

#startgame {
  width: 50px;
  height: 50px;
  position: absolute;
}
.game-board {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.cenary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/mario-bros-cenario.jpg");
  background-size: auto;
  background-repeat: repeat-x;
  animation: moveCenary 60s linear infinite;
}

@keyframes moveCenary {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -100%;
  }
}

.pipe {
  position: absolute;
  bottom: 14px;
  width: 70px;
  height: 60px;
  animation: movePipe 2s infinite linear;
}

@keyframes movePipe {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.pumpkin {
  position: absolute;
  bottom: 14px;
  width: 70px;
  height: 70px;
  animation: movePumpkin 2s infinite linear;
  animation-delay: 3s;
  right: -80px;
}

@keyframes movePumpkin {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.mario {
  position: absolute;
  bottom: 14px;
  width: 160px;
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 180px;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  70% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}

.jump {
  animation: jump 500ms ease-out;
}
.clouds {
  position: absolute;
  right: -600px;
  width: 550px;
  top: 80px;
  background-size: auto;
  background-repeat: repeat-x;
  animation: moveClouds 50s linear infinite;
}
@keyframes moveClouds {
  from {
    right: -600px;
  }
  to {
    right: 100%;
  }
}

@media (max-width: 1366px) {
  body {
    background-color: rgb(28, 121, 0);
  }
  button {
    position: absolute;
    top: 160%;
    left: -300%;
    transform: translate(550%, 330%);
    width: 195px;
    height: 65px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
  }

  h1 {
    color: #000000;
    text-align: center;
    padding: 20px 0;
    position: relative;
    transform: translateY(200%) translateX(1500%);
    font-height: 700px;
    font-size: 200px;
    text-shadow: 2px 2px 4px rgb(247, 244, 244);
    z-index: 1;
  }

  #startgame {
    width: 50px;
    height: 50px;
    position: absolute;
  }

  .cenary {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("./assets/mario-bros-cenario.jpg");
    background-size: auto;
    background-repeat: repeat-x;
    animation: moveCenary 60s linear infinite;
    overflow-y: hidden;
  }

  .clouds {
    top: 80px;
  }

  .pipe {
    bottom: 60px;
  }
  .pumpkin {
    bottom: 60px;
  }
  .mario {
    bottom: 60px;
  }
}

@media (max-width: 896px) {
  body {
    background-color: rgb(241, 201, 139);
  }
  .banner {
    width: 73%;
    height: 73vh;
  }

  button {
    position: relative;
    top: -85px;
    left: 400px;
    cursor: pointer;
    transform: scale(0.8);
  }

  h1 {
    position: relative;
    top: 165px;
    left: 412px;
    transform: none;
    font-size: 75px;
    text-align: center;
  }

  .game-board {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .cenary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/mario-bros-cenario-extendido.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom left;
    animation: moveCenary 60s linear infinite;
    z-index: -1;
  }
  @keyframes moveCenary {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -100%;
    }
  }

  .clouds {
    width: 255px;
    top: 10px;
  }

  .pipe {
    bottom: 17px;
  }
  .pumpkin {
    bottom: 17px;
  }
  .mario {
    bottom: 17px;
  }
}
