* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: absolute;
  width: 116%;
  height: 116%;
  overflow: hidden;
}
button {
  z-index: 1;
  position: absolute;
  transform: translate(92%, 810%);
  width: 225px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 42px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(255, 3, 3);
}
h1 {
  padding: 20px 0;
  font-family: "Suez One", serif;
  position: relative;
  transform: translateY(185%) translateX(460%);
  font-height: 80px;
  font-size: 75px;
  text-shadow: 2px 2px 4px rgb(247, 244, 244);
  z-index: 1;
}

#startgame {
  width: 50px;
  height: 50px;
  position: absolute;
}
.game-board {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.cenary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/mario-bros-cenario.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
  animation: moveCenary 60s linear infinite;
}

@keyframes moveCenary {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

.pipe {
  position: absolute;
  bottom: 35px;
  width: 70px;
  height: 60px;
  animation: movePipe 2s infinite linear;
}

@keyframes movePipe {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.pumpkin {
  position: absolute;
  bottom: 35px;
  width: 70px;
  height: 70px;
  animation: movePumpkin 2s infinite linear;
  animation-delay: 3s;
  right: -80px;
}

@keyframes movePumpkin {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.mario {
  position: absolute;
  bottom: 35px;
  width: 160px;
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 180px;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  70% {
    bottom: 180px;
  }
  100% {
    bottom: 0;
  }
}

.jump {
  animation: jump 500ms ease-out;
}
.clouds {
  position: absolute;
  right: -600px;
  width: 550px;
  top: 80px;
  background-size: auto;
  background-repeat: repeat-x;
  animation: moveClouds 50s linear infinite;
}
@keyframes moveClouds {
  from {
    right: -600px;
  }
  to {
    right: 100%;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .pipe,
  .pumpkin {
    bottom: 35px;
    width: 70px;
  }
  .mario {
    bottom: 35px;
    width: 160px;
  }

  .clouds {
    width: 350px;
    top: 5px;
  }
}

@media (max-width: 1023px) {
  
  .cenary {
    background-size: cover;
  }
  .pipe,
  .pumpkin {
    bottom: 45px;
    width: 70px;
  }

  .mario {
    bottom: 45px;
    width: 160px;
  }
}

@media (max-width: 1023px)and (orientation: landscape) {

  .pipe,
  .pumpkin {
    bottom: 35px;
    width: 70px;
  }

  .mario {
    bottom: 35px;
    width: 160px;
  }
}

@media (max-width: 1024px){
  
  

  .cenary {
    animation-direction: reverse;
  }
  .pipe,
  .pumpkin {
    bottom: 35px;
    width: 70px;
  }
  .mario {
    bottom: 35px;
    width: 160px;
  }
}
